
{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'concessionaria/css/styles2.css'%}">
    <title>Veículos Showroom</title>
</head>
<body>

  <header>
    <div class="header-content">
   
        <img src="{% static 'concessionaria/img/logo1.jpg' %}" width="200px" height="100px">
    
    
    <nav>
        
      <ul>
        <li><a href="/concessionaria/home">Home</a></li>
        <li><a href="/concessionaria/veiculos">Veículos</a></li>
        <li><a href="contato.html">Entrar em Contato</a></li>
      </ul>
    </nav>
    </div>
  </header>

    <form> 
      <select name="marca">
        {% for marca in marcas %}
          <option value="{{ marca }}">{{ marca }}</option>
        {% endfor %}
        </select>
      
        <div class="form-group">
          <select id="ano" name="ano">
            <option value="ano">Ano</option>
            <option value="2021">2021</option>
            <option value="2020">2020</option>
          </select>
        </div>
      
        <div class="form-group">
          <select id="marca" name="marca">
            <option value="modelo">Modelo</option>
            <option value="hatchback">Hatchback</option>
            <option value="suv">SUV</option>
          </select>
        </div>
      
        <div class="form-group">
          <option value="modelo">Tipos : </option>
          <input type="checkbox" id="novo" name="tipo" value="novo"> Novo
          <input type="checkbox" id="seminovo" name="tipo" value="seminovo"> Seminovo
        </div>
      
        <button type="submit">Pesquisar</button>
      </form>

      <div class="card-container">
  

      {% for veiculo in veiculos %}
      

      {% if veiculo.nomeMarca == marca %}


      <div class="card">
        <img src="{% static 'concessionaria/img/imagem1.jpg' %}" alt="Placeholder Image">
        <div class="card-content">
        <h5 class="card-title">Nome do Veículo: {{ veiculo.marca }} {{ veiculo.modelo }}</h5>
        <p class="card-text">Tipo do Veículo: {{ veiculo.tipo}}</p>
        <p class="card-text">Cor do Veículo: {{ veiculo.cor }}</p>
        <p class="card-text">Estado do Veículo: {{ veiculo.estado }}</p>
        <p class="card-text">Ano do Veículo: {{ veiculo.ano }}</p>
        <p class="card-text">Quilometragem Rodada: {{ veiculo.kmrodados }} KMS</p>
        <p class="card-text">Formas de Pagamento: {{ veiculo.forma_de_pagamento }}</p>
        <a href="#" class="btn btn-primary"> R$ {{ veiculo.preco }} </a>
        </div>
      </div>

    {% endif %}

    

      {% endfor %}

    </div>

    <div class="pagination">
      {% if veiculos.has_previous %}
      <a class="page-link" href="?page={{ veiculos.previous_page_number }}">&laquo;</a>
      {% endif %}
      {% for num in veiculos.paginator.page_range %}
        {% if veiculos.number == num %}
          <a class="page-link active" href="?page={{ num }}">{{ num }}</a>
        {% else %}
          <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}
      {% if veiculos.has_next %}
      <a class="page-link" href="?page={{ veiculos.next_page_number }}">&raquo;</a>
      {% endif %}
    </div>

    <div id="page-container">
        <div id="content-wrap">
          <!-- o resto do conteúdo da página -->
        </div>
        <footer id="footer">
            <p>&copy; 2023 Veículos Showroom</p>
        </footer>
      </div>
     </body>


</body>
</html>
