{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'concessionaria/css/teste.css'%}">
    <title>Document</title>
</head>
<body>
    
    <h1> Teste </h1>
    <img src="{% static 'concessionaria/img/eu.png' %}">

    <form action="{% url 'teste'%}" method="POST">{% csrf_token %}
        <input type="text" name="nome" placeholder="Digite o seu nome">
        <br>
        <br>
        <input type="number" name="idade" placeholder="Digite a sua idade">
        <br>
        <br>
        <input type="submit" value="enviar">

    </form>

</body>
</html>